<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>01</key>
	<string>01.png</string>
	<key>02</key>
	<string>02.png</string>
	<key>03</key>
	<string>03.png</string>
	<key>04</key>
	<string>04.png</string>
	<key>05</key>
	<string>05.png</string>
	<key>06</key>
	<string>06.png</string>
	<key>07</key>
	<string>07.png</string>
	<key>08</key>
	<string>08.png</string>
	<key>09</key>
	<string>09.png</string>
	<key>10</key>
	<string>10.png</string>
	<key>11</key>
	<string>11.png</string>
	<key>12</key>
	<string>12.png</string>
	<key>13</key>
	<string>13.png</string>
	<key>14</key>
	<string>14.png</string>
	<key>15</key>
	<string>15.png</string>
	<key>16</key>
	<string>16.png</string>
	<key>17</key>
	<string>17.png</string>
	<key>18</key>
	<string>18.png</string>
	<key>19</key>
	<string>19.png</string>
	<key>20</key>
	<string>20.png</string>
	<key>21</key>
	<string>21.png</string>
	<key>22</key>
	<string>22.png</string>
	<key>23</key>
	<string>23.png</string>
	<key>24</key>
	<string>24.png</string>
	<key>25</key>
	<string>25.png</string>
	<key>26</key>
	<string>26.png</string>
	<key>27</key>
	<string>27.png</string>
	<key>28</key>
	<string>28.png</string>
	<key>29</key>
	<string>29.png</string>
	<key>30</key>
	<string>30.png</string>
	<key>31</key>
	<string>31.png</string>
	<key>32</key>
	<string>32.png</string>
	<key>33</key>
	<string>33.png</string>
	<key>34</key>
	<string>34.png</string>
	<key>35</key>
	<string>35.png</string>
	<key>36</key>
	<string>36.png</string>
	<key>37</key>
	<string>37.png</string>
	<key>38</key>
	<string>38.png</string>
	<key>39</key>
	<string>39.png</string>
	<key>40</key>
	<string>40.png</string>
</dict>
</plist>
