<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string>com.niupai.SmallNiuEmoji</string>
	<key>Version</key>
	<string>1</string>
	<key>DisplayName</key>
	<string>牛芒</string>
	<key>SelectToSend</key>
	<false/>
	<key>MapFileName</key>
	<string>map.plist</string>
	<key>SmallSize</key>
	<true/>
</dict>
</plist>
