<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>[Hi]</key>
	<string>Hi.png</string>
	<key>[V5]</key>
	<string>V5.png</string>
	<key>[YY]</key>
	<string>YY.png</string>
	<key>[no]</key>
	<string>no.png</string>
	<key>[ok]</key>
	<string>ok.png</string>
	<key>[中箭]</key>
	<string>中箭.png</string>
	<key>[作揖]</key>
	<string>作揖.png</string>
	<key>[便便]</key>
	<string>便便.png</string>
	<key>[偷笑]</key>
	<string>偷笑.png</string>
	<key>[凋零]</key>
	<string>凋零.png</string>
	<key>[加油]</key>
	<string>加油.png</string>
	<key>[勾引]</key>
	<string>勾引.png</string>
	<key>[匕首]</key>
	<string>匕首.png</string>
	<key>[卖萌]</key>
	<string>卖萌.png</string>
	<key>[发火]</key>
	<string>发火.png</string>
	<key>[口罩]</key>
	<string>口罩.png</string>
	<key>[可怜]</key>
	<string>可怜.png</string>
	<key>[叹气]</key>
	<string>叹气.png</string>
	<key>[吐]</key>
	<string>吐.png</string>
	<key>[吐舌头]</key>
	<string>吐舌头.png</string>
	<key>[吓]</key>
	<string>吓.png</string>
	<key>[吻]</key>
	<string>吻.png</string>
	<key>[呆]</key>
	<string>呆.png</string>
	<key>[呲牙]</key>
	<string>呲牙.png</string>
	<key>[咖啡]</key>
	<string>咖啡.png</string>
	<key>[哼歌]</key>
	<string>哼歌.png</string>
	<key>[啤酒]</key>
	<string>啤酒.png</string>
	<key>[啵一个]</key>
	<string>啵一个.png</string>
	<key>[嘘]</key>
	<string>嘘.png</string>
	<key>[囧]</key>
	<string>囧.png</string>
	<key>[困]</key>
	<string>困.png</string>
	<key>[大哭]</key>
	<string>大哭.png</string>
	<key>[大骂]</key>
	<string>大骂.png</string>
	<key>[太阳]</key>
	<string>太阳.png</string>
	<key>[奋斗]</key>
	<string>奋斗.png</string>
	<key>[委屈]</key>
	<string>委屈.png</string>
	<key>[媚眼]</key>
	<string>媚眼.png</string>
	<key>[害羞]</key>
	<string>害羞.png</string>
	<key>[差劲]</key>
	<string>差劲.png</string>
	<key>[开心]</key>
	<string>开心.png</string>
	<key>[弱]</key>
	<string>弱.png</string>
	<key>[强]</key>
	<string>强.png</string>
	<key>[得意]</key>
	<string>得意.png</string>
	<key>[心碎]</key>
	<string>心碎.png</string>
	<key>[快哭了]</key>
	<string>快哭了.png</string>
	<key>[怒]</key>
	<string>怒.png</string>
	<key>[惊吓]</key>
	<string>惊吓.png</string>
	<key>[惊恐]</key>
	<string>惊恐.png</string>
	<key>[憋屈]</key>
	<string>憋屈.png</string>
	<key>[憨笑]</key>
	<string>憨笑.png</string>
	<key>[打哈欠]</key>
	<string>打哈欠.png</string>
	<key>[抓狂]</key>
	<string>抓狂.png</string>
	<key>[抠鼻]</key>
	<string>抠鼻.png</string>
	<key>[拜]</key>
	<string>拜.png</string>
	<key>[拜拜]</key>
	<string>拜拜.png</string>
	<key>[拳头]</key>
	<string>拳头.png</string>
	<key>[握手]</key>
	<string>握手.png</string>
	<key>[擦汗]</key>
	<string>擦汗.png</string>
	<key>[放光]</key>
	<string>放光.png</string>
	<key>[敲打]</key>
	<string>敲打.png</string>
	<key>[斜眼]</key>
	<string>斜眼.png</string>
	<key>[晕]</key>
	<string>晕.png</string>
	<key>[月亮]</key>
	<string>月亮.png</string>
	<key>[汗]</key>
	<string>汗.png</string>
	<key>[流泪]</key>
	<string>流泪.png</string>
	<key>[流鼻涕]</key>
	<string>流鼻涕.png</string>
	<key>[流鼻血]</key>
	<string>流鼻血.png</string>
	<key>[炸弹]</key>
	<string>炸弹.png</string>
	<key>[爱你]</key>
	<string>爱你.png</string>
	<key>[爱心]</key>
	<string>爱心.png</string>
	<key>[猪头]</key>
	<string>猪头.png</string>
	<key>[玫瑰]</key>
	<string>玫瑰.png</string>
	<key>[生气]</key>
	<string>生气.png</string>
	<key>[疑问]</key>
	<string>疑问.png</string>
	<key>[白眼]</key>
	<string>白眼.png</string>
	<key>[睡觉]</key>
	<string>睡觉.png</string>
	<key>[石化]</key>
	<string>石化.png</string>
	<key>[篮球]</key>
	<string>篮球.png</string>
	<key>[紫脸]</key>
	<string>紫脸.png</string>
	<key>[绿脸]</key>
	<string>绿脸.png</string>
	<key>[耍帅]</key>
	<string>耍帅.png</string>
	<key>[耶]</key>
	<string>耶.png</string>
	<key>[胜利]</key>
	<string>胜利.png</string>
	<key>[脚印]</key>
	<string>脚印.png</string>
	<key>[色]</key>
	<string>色.png</string>
	<key>[花心]</key>
	<string>花心.png</string>
	<key>[菜刀]</key>
	<string>菜刀.png</string>
	<key>[蒙眼]</key>
	<string>蒙眼.png</string>
	<key>[藐视]</key>
	<string>藐视.png</string>
	<key>[蛋糕]</key>
	<string>蛋糕.png</string>
	<key>[衰]</key>
	<string>衰.png</string>
	<key>[调皮]</key>
	<string>调皮.png</string>
	<key>[财迷]</key>
	<string>财迷.png</string>
	<key>[赞]</key>
	<string>赞.png</string>
	<key>[足球]</key>
	<string>足球.png</string>
	<key>[路过]</key>
	<string>路过.png</string>
	<key>[鄙视]</key>
	<string>鄙视.png</string>
	<key>[酷]</key>
	<string>酷.png</string>
	<key>[闪电]</key>
	<string>闪电.png</string>
	<key>[闭嘴]</key>
	<string>闭嘴.png</string>
	<key>[顶]</key>
	<string>顶.png</string>
	<key>[飞吻]</key>
	<string>飞吻.png</string>
	<key>[骷髅]</key>
	<string>骷髅.png</string>
	<key>[鬼脸]</key>
	<string>鬼脸.png</string>
	<key>[鼓掌]</key>
	<string>鼓掌.png</string>
</dict>
</plist>
